.btn-outline-quiz {
    border: 1.5px solid rgba(142, 32, 244);
    color: rgba(142, 32, 244);
    background-color: transparent;
}

.btn-outline-quiz:hover {
    background-color: rgba(142, 32, 244, 0.523);
    color: #f4f4f4;
}

.text-button {
    font-size: 18px;
    padding-top: .8rem;
}